.reveal {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.7s ease;
}

.reveal.show {
    opacity: 1;
    transform: translateY(0);
}


/* Mobile navigation */

@media(max-width: 1000px) {

    .navbar nav.show {
        display: flex;

        position: absolute;
        top: 72px;
        right: 0;

        width: 240px;

        padding: 25px;

        flex-direction: column;
        gap: 20px;

        background: #07101d;

        border-left: 1px solid #263447;
        border-bottom: 1px solid #263447;
    }

}